<%= render "shared/header" %>

<div class='item-contents'>
  <h2 class='mypage_title'><%= @nickname %>さんの出品商品一覧</h2>
  <ul class='item-lists'>
    <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>

          <%# 商品が売れていればsold outの表示 %>
          <% if @orders.where(item_id: item.id).present? %>
            <div class='sold-out'>
              <span>Sold Out!!</span>
            </div>
          <% end %>
          <%# //商品が売れていればsold outの表示 %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.item_name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br>(税込み)</span>
            <div class='star-btn' >
              <% if item.checked == true %>
                <%= image_tag "light_star.png", class:"star-icon" %>
                <span class='star-count'>1</span>
              <% else %>
                <%= image_tag "dark_star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>

  <%# 商品がない場合のダミー %>
  <% if @items.where('id >= 1').blank? %>
    <li class='list'>
      <%= link_to '#' do %>
      <%= image_tag "white_image", class: "item-img" %>
      <div class='item-info'>
        <h3 class='item-name'>
          商品を出品してね！
        </h3>
        <div class='item-price'>
          <span></span>
          <div class='star-btn'>
            <%= image_tag "dark_star.png", class:"star-icon" %>
            <span class='star-count'>0</span>
          </div>
        </div>
      </div>
      <% end %>
    </li>
  <% end %>
  <%# //商品がない場合のダミー %>
</ul>
</div>

<div class='item-contents'>
  <h2 class='mypage_title'>お気に入り</h2>
  <ul class='item-lists'>
    <% @good_items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>

          <%# 商品が売れていればsold outの表示 %>
          <% if @orders.where(item_id: item.id).present? %>
            <div class='sold-out'>
              <span>Sold Out!!</span>
            </div>
          <% end %>
          <%# //商品が売れていればsold outの表示 %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.item_name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br>(税込み)</span>
            <div class='star-btn' >
              <% if item.checked == true %>
                <%= image_tag "light_star.png", class:"star-icon" %>
                <span class='star-count'>1</span>
              <% else %>
                <%= image_tag "dark_star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>

  <%# 商品がない場合のダミー %>
  <% if @good_items.where('id >= 1').blank? %>
    <li class='list'>
      <%= link_to '#' do %>
      <%= image_tag "white_image", class: "item-img" %>
      <div class='item-info'>
        <h3 class='item-name'>
          お気に入り登録<br>してみよう!
        </h3>
        <div class='item-price'>
          <span></span>
          <div class='star-btn'>
            <%= image_tag "dark_star.png", class:"star-icon" %>
            <span class='star-count'>0</span>
          </div>
        </div>
      </div>
      <% end %>
    </li>
  <% end %>
      <%# //商品がない場合のダミー %>
    </ul>
</div>

<%= render "shared/footer" %>