<%= render "shared/header" %>

<%# 出品商品一覧 %>
<div class='item-contents'>
  <h2 class='mypage_title'><%= @nickname %>さんの出品商品一覧</h2>
  <ul class='item-lists'>
    <%# 商品一覧 %>
    <%= render"shared/index", items: @items, favorites: @favorites %>
    <%# /商品一覧 %>
    <%# 商品がない場合のダミー %>
    <% if @items.where('id >= 1').blank? %>
      <li class='list'>
        <div class='item-img-content'>
          <%= link_to new_item_path do %>
          <%= image_tag "white_image.jpg", class: "item-img" %>
          <div class='go-sell'>
            <span>クリックで<br>出品!!</span>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              商品を出品してね！
            </h3>
            <div class='item-price'>
              <span></span>
              <div class='star-btn'>
                <%= image_tag "dark_star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </li>
    <% end %>
    <%# //商品がない場合のダミー %>
  </ul>
</div>
<%# /出品商品一覧 %>

<%# 購入済み商品一覧 %>
<div class='item-under-contents'>
  <h2 class='mypage_title'><%= @nickname %>さんの購入済み商品一覧</h2>
  <ul class='item-lists'>
    <%# 商品一覧 %>
    <%= render"shared/index", items: @p_items, favorites: @favorites %>
    <%# /商品一覧 %>
    <%# 商品がない場合のダミー %>
    <% if @p_items.where('id >= 1').blank? %>
      <li class='list'>
        <%= image_tag "white_image.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を購入してね!
          </h3>
          <div class='item-price'>
            <span></span>
            <div class='star-btn'>
              <%= image_tag "dark_star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      </li>
    <% end %>
    <%# //商品がない場合のダミー %>
  </ul>
</div>
<%# /購入済み商品一覧 %>

<%# お気に入り商品一覧 %>
<div class='item-under-contents'>
  <h2 class='mypage_title'><%= @nickname %>さんのお気に入り</h2>
  <ul class='item-lists'>
    <%# 商品一覧 %>
    <%= render"shared/index", items: @f_items, favorites: @favorites %>
    <%# /商品一覧 %>
    <%# 商品がない場合のダミー %>
    <% if @f_items.where('id >= 1').blank? %>
      <li class='list'>
        <%= image_tag "white_image.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            お気に入りしてね!
          </h3>
          <div class='item-price'>
            <span></span>
            <div class='star-btn'>
              <%= image_tag "dark_star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      </li>
    <% end %>
    <%# //商品がない場合のダミー %>
  </ul>
</div>
<%# お気に入り商品一覧 %>

<div class='purchase-btn'>
  <span class='purchase-btn-text'>出品する</span>
  <%= link_to image_tag('camera.png' , size: '185x50' ,class: "purchase-btn-icon"), new_item_path %>
</div>
<%= render "shared/footer" %>