<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.item_name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @item.image ,class:"item-box-img" %>
      <%# 商品が売れている場合は、sold outの表示をしましょう。 %>
      <% if @orders.where(item_id: @item.id).present? %>
        <div class='sold-out'>
          <span>Sold Out!!</span>
        </div>
      <% end %>
      <%# //商品が売れている場合は、sold outの表示をしましょう。 %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥<%= @item.price %>
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>

    <%# ログインしているユーザと出品しているユーザが同一人物である時、商品の編集と削除を表示にしましょう%>
    <% if current_user == @item.user %>
      <%= link_to '商品の編集', edit_item_path, method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', "#", method: :delete, class:'item-destroy' %>
    <% end %>

    <%# 商品が売れていない場合はこちらを表示しましょう %>
    <% if @orders.where(item_id: @item.id).blank? && current_user != @item.user %>
      <%= link_to '購入画面に進む', item_orders_path(@item.id) ,class:"item-red-btn"%>
    <% end %>
    <%# //商品が売れていない場合はこちらを表示しましょう %>

    <%# // ログインしているユーザと出品しているユーザが同一人物である時、商品の編集と削除を表示にしましょう %>

    <div class="item-explain-box">
      <span><%= @item.text %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.product_status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.shipping_fee_status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.scheduled_delivery.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <%# お気に入りボタン %>
      <div id="favorites_buttons_<%= @item.id %>">
        <%= render partial: 'shared/like' %>
      </div>
      <%# /お気に入りボタン %>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span class="mouseon_cursor">不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <%# メッセージ欄 %>
  <div class="comment-box">
    <% if current_user %>
      <%= form_with(model: [@item, @message], local: true) do |f| %>
        <%= f.text_area :message, rows: "2", class:"comment-text" %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <%= f.submit "コメントする", class: "comment-btn mouseon_cursor", id: "message-btn" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>

  <div class="comments" >
    <h4 class="comment_index">コメント一覧</h4>
    <div id='messages' class='messages'>
    <% if @messages %>
      <% @messages.reverse_each do |message| %>
        <p>
        <a class="message_border">
        <%= message.message %>
        </a>
        </p>
      <% end %>
    <% end %>
    </div>
  </div>
  <%# /メッセージ欄 %>

  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class='another-item'><%= "商品のカテゴリー名" %>をもっと見る</a>
</div>

<%= render "shared/footer" %>